#header1-0 H1 {
  color: #ffffff;
}
#header3-1 H3 {
  text-align: center;
}
#header3-1 SMALL {
  text-align: center;
}
#content1-2 P {
  text-align: left;
}
#header3-6 H3 {
  text-align: center;
}
#content5-a .mbr-section-title {
  color: #ffffff;
}
#content5-a P {
  color: #ffffff;
}
